{% extends "base.html" %}
{% block content %}
<article class="wiki-article">
  <h1>Random Article</h1>
  <p>Redirecting to a random article...</p>
  <script>
    (function() {
      var articles = {{ article_paths|safe }};
      if (articles.length > 0) {
        var idx = Math.floor(Math.random() * articles.length);
        window.location.href = '{{ root }}' + articles[idx];
      }
    })();
  </script>
  <noscript>
    <p>JavaScript is required for random article redirect.</p>
  </noscript>
</article>
{% endblock %}
